@import url(https://unpkg.com/open-props/open-props.min.css);
@import url(https://unpkg.com/open-props/normalize.min.css); 
/* estos dos enlaces son ara añadir un modo oscuro */
@font-face {
  font-family: f1font;
  src: url(../files/Fonts/Oswald-Regular.ttf);
}
body{
    margin: 0rem; 
}
.logo{
  width: 30%;
}
.header{   
display: flex;
align-items: center;
}
.elemento__lista {
    margin: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
} 
.lista{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contenedor{
    display: flex;
    margin-bottom: rem; 
    margin: 6rem;
    width: 90%;   
}
.card{
    box-sizing: content-box;
    width: 100%;
    margin: 3rem;  
}
.card_titulo{
    margin: 0.5rem;
    text-align: center;
}
.card_texto{
    text-align: center;
    margin: 1.5rem;
    padding: 1px
}
.card2{ 
    width: 100%;
}
ul {
  align-items: center;
  padding: 0;
  display: inline-grid;
  grid-auto-flow: column;
  list-style-type: none;
  grid-template-columns: auto repeat(3, calc((var(--active, 0) * 130px) + 10px));
  transition: grid-template-columns 0.35s var(--ease-elastic-1);
  transition: grid-template-columns 0.35s var(--ease-elastic-1), -ms-grid-columns 0.35s var(--ease-elastic-1);
}
li {
  display: grid;
  justify-content: end;
  z-index: calc(var(--count) - var(--index));
}
.botoncito__colorado {
  background: hsl(0 0% 60% / 0.18);
  display: inline-block;
  padding: var(--size-2) var(--size-4);
  border-radius: var(--radius-5);
  margin: 0;
  color: var(--gray-0);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-0);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  transition: color 0.2s, background 0.2s;  
}
span {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 16px 1fr;
  gap: 0.25rem;
}
a:focus-visible {
  outline-color: transparent;
}
ul:is(:focus-within, :hover) {
  --active: 1;
}
#mas
{display: none;
}
.botonleerMas {
margin: 1rem;
cursor: pointer; 
color: blue;
}
#mas2
{display: none;
}
.botonleerMas2 {
  margin: 1rem;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.botonleerMas2:hover,
.botonleerMas2:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.botonleerMas2:active {
  opacity:.5;
}
.botonleerMas {
    margin: 1rem;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .botonleerMas:hover,
  .botonleerMas:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  .botonleerMas:active {
    opacity:.5;
  }
  .comentarios{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 3rem;
  padding: 3px;
}
.comentarios__personas{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comentarios__personas2{
  margin: 1rem;
  font-family: f1font;
}
.cajaComentarios{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-family: f1font;
}
.contenedorC{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__final{
  background-color: #FF4742;
  display: flex;
  justify-content: space-evenly;
}
/* He puesto aqui el responsive porque me parecia mas comodo hacerlo al final */
@media screen and (max-width: 780px) {
  body{
    overflow-x: hidden;
  }
  .lista{
  margin-right: 13rem;
  align-items: center;
  flex-direction: column;
  }
  .header{
    margin: 3rem;
  }
  .contenedor{
    width: 100%;
    margin-left: 18rem;
    display: grid;
    grid-template-columns: repeat(1fr 1fr);   
  }
  .card{
    width: 55%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .card2{
   width: 50%;
  }
  .contenedorC{
    width: 100%;
    margin-left: 18rem;
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
  }
  .spoty__contenedor{
    width: 80%;
    margin-bottom: 1rem;
  }
  .contenedor__imagen{
    width: 50%;
  }
  .comentarios{
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
  }
  .logo{
    width: 65%;
  }
  .footer__final{
background-color: transparent;
display: block;
margin-left: 14rem;
text-align: center;
}
}